$font-logo: "STHeitiSC", "Tahoma", sans-serif;
$font-main: "Aller", "Arial", sans-serif;

$white: #ffffff;
$black: #000000;
$green: #57c5a0;
$orange: #f27e4b;
$dark-gray1: #242424;
$dark-gray2: #2e2e2e;
$gray-light: #ebe7df;
$gray-icons: #6e6e6e;
$gray-borders: #d3d3d3;
$gray-borders-search: #666464;
$gray-product: #cccccc;
$gray-widget: #7d7d7d;
$gray-twitter-date: #c4c5bf;
$gray-search-dropdown: #4c4c4c;
$gray-search-color: #b1aeae;
$gray-user-block: #7e7e7e;
$gray-counter: #adadad;
$gray-additional: #dfdbd4;
$gray-footer-info: #979797;
$btn-color: #bcb5a7;
$slide-1: $gray-light;
$slide-2: #f5e4d2;
$slide-3: #dfe6ff;
$slide-4: #e1eee4;
$slide-5: #e4eede;

$width-sm-only: 767px;
$width-md: 768px;
$width-lg: 960px;


